{% extends "chat/base.html" %}

{% block content %}
<div class="room-buttons text-center mt-5">
    <button id="room-name-host-private" class="btn btn-primary btn-lg">Host Private Room</button>
    <button id="room-name-join-private" class="btn btn-secondary btn-lg">Join Private Room</button>
    <button id="room-name-join-public" class="btn btn-primary btn-lg">Join Public Room</button>
</div>

<script>
    // Host Private Room
    document.getElementById('room-name-host-private').addEventListener('click', function() {
        const roomName = Math.floor(Math.random() * 1000) + '_' + Date.now();
        window.location.pathname = '/room/' + roomName + '/';
    });

    // Join Private Room
    document.getElementById('room-name-join-private').addEventListener('click', function() {
        const roomName = prompt("Enter the private room name:");
        if (roomName) {
            window.location.pathname = '/room/' + roomName + '/';
        }
    });

    document.getElementById('room-name-join-public').addEventListener('click', function() {
        window.location.pathname = '/lobby/';
    })
</script>
{% endblock %}

