<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat Rooms</title>
    </head>
    <body>
        What chat would you like to enter?</br>
        <input id="room-name-input" type="text" size="100"><br/> -->
        <!-- <input id="room-name-host-private" type="button" value="Host Private Room"> -->

        <!-- <script>
            // document.querySelector('#room-name-input').focus();
            // document.querySelector('#room-name-host-private').onkeyup = function(e) {
            //     if (e.keyCode == 13) {
            //         document.querySelector('#room-name-host-private').click()
            //     }
            // }; 
            document.getElementById('room-name-host-private').addEventListener('click', function() {
                const roomName = "" + Math.floor(Math.random() * 1000) + Date.now();
                window.location.pathname = '/room' + roomName + '/';
            }); -->
            <!-- // when enter/return are pressed, the javascript submits the room name input text box
            // when the submission happens, a function grabs the value of the text in the box and updates the pathname to include it
        //     document.querySelector('#room-name-host-private').onclick = function(e) {
        //     var roomName = document.querySelector('#room-name-input').value;
        //     window.location.pathname = '/room/' + roomName + '/';
        // };
        </script>
    </body>
</html> -->
{% extends "chat/base.html" %}

{% block content %}
<div class="room-buttons text-center mt-5">
    <button id="room-name-host-private" class="btn btn-primary btn-lg">Host Private Room</button>
    <button id="room-name-join-private" class="btn btn-secondary btn-lg">Join Private Room</button>
    <button id="room-name-join-public" class="btn btn-primary btn-lg">Join Public Room</button>
</div>

<script>
    // Host Private Room
    document.getElementById('room-name-host-private').addEventListener('click', function() {
        const roomName = Math.floor(Math.random() * 1000) + '_' + Date.now();
        window.location.pathname = '/room/' + roomName + '/';
    });

    // Join Private Room
    document.getElementById('room-name-join-private').addEventListener('click', function() {
        const roomName = prompt("Enter the private room name:");
        if (roomName) {
            window.location.pathname = '/room/' + roomName + '/';
        }
    });

    document.getElementById('room-name-join-public').addEventListener('click', function() {
        window.location.pathname = '/lobby/';
    })
</script>
{% endblock %}

