{% extends "chat/base.html" %}
{% block content %}
<h1>WAITING FOR GAME</h1>
<script>
    const wsProtocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const lobbySocket = new WebSocket(
        wsProtocol
        + window.location.host        
        + '/ws/lobby/'
);
    lobbySocket.onmessage = function(e) {
        const data = JSON.parse(e.data)
        room_name = data.room_name
        window.location.pathname = '/room/' + room_name + '/'
    }

</script>



{% endblock %}

